@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
}




































































/* loges start */


#company-logo {
  background: white;
  background-image: url(../images/company-logo-bg.svg);
  background-repeat: no-repeat;
  background-position: 100%;
}

#company-logo .container {
  padding: 82px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 160px;
}

#company-logo .container a:hover {
  transition: 0.7s;
  filter: brightness(0) saturate(100%) invert(43%) sepia(39%) saturate(3480%) hue-rotate(97deg) brightness(97%) contrast(107%);
}

#company-logo .container .company-logo-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  animation: 20s slide infinite linear;
  gap: 160px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
/* loges end */
/* ----->  samandar  <-----  */
#Banner {
  margin: 80px auto;
}
#Banner .container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#Banner .container .banner-box {
  border-radius: 10px;
  background: rgba(153, 153, 153, 1);
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 648px;
  height: 360px;
}
#Banner .container .banner-box h4 {
  color: var(--gray-scale-white, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
#Banner .container .banner-box h2 {
  color: var(--gray-scale-white, #fff);
  padding-top: 8px;
  padding-bottom: 16px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 43.2px */
}
#Banner .container .banner-box .boxLeftInP {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  margin-bottom: 24px;
}
#Banner .container .banner-box .boxLeftInP .startingAtText {
  color: var(--gray-scale-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
#Banner .container .banner-box .boxLeftInP .startingAtPrice {
  padding: 4px 8px;
  color: var(--gray-scale-white, #fff);
  border-radius: 5px;
  background: var(--branding-warning, #ff8a00);

  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
#Banner .container .banner-box .saleDiscountTime {
  display: flex;
  align-items: start;
  justify-content: left;
  color: var(--gray-scale-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  /* opacity: 0.6; */
  margin-bottom: 24px;
}
#Banner .container .banner-box .saleDiscountTime ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-right: 8px;
}
#Banner .container .banner-box .saleDiscountTime ul:nth-child(n + 2) {
  padding-left: 8px;
}
#Banner .container .banner-box .saleDiscountTime ul li:first-child {
  color: var(--gray-scale-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
#Banner .container .banner-box .saleDiscountTime ul li:last-child {
  color: var(--gray-scale-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.7;
}
#Banner .container .banner-box .btn {
    width: 162px;
}
/* <-----  samandar  ----->  */

/* Nurbek  */

.featureContainer{
display: flex;
justify-content: space-between;
}
#feature {
  width: 312px;
  height: 224px;
  position: relative;
  margin-top: 40px;
}
#feature::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.575px;
  transition: all 0.4s ease;
  transform: scale(0, 1);
  background-color: rgb(16, 158, 16);
  margin-top: 20px;
}
#feature:hover::after {
  transform: scale(1, 1);
}
#feature svg path {
  transition: all 0.4s ease;
}
#feature:hover svg path {
  fill: white;
  cursor: pointer;    
}
#feature:hover svg {
fill: white;
cursor: pointer;    
background-color: rgb(13, 150, 13);
border-radius: 50%;
}
#feature svg {
margin-left: 130px;
}
.featureDescription{
margin-top: 16px;
color: var(--gray-scale-gray-900, #1A1A1A);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
}
.featureContact{
margin-top: 5px;
color: var(--gray-scale-gray-400, #999);
text-align: center;
}
.line{
margin-top: -55px;
width: 100%;
height: 1px;
background-color: #999;
z-index: 1;
line-height: 150%;
}

/* Nurbek */
/* ----------------------------------------- */
/* Asqar section */
#whyChooseUs .container {
padding: 30px 0;
position: relative;
}
#whyChooseUs .container .leafFoto{
position: absolute;
top: 408px;
left: -65px;
}

#whyChooseUs .container .leafFoto2{
position: absolute;
top: 24px;
left: 190px;
z-index: -1;
}
#whyChooseUs .container .whyChooseWrapper {
display: flex;
gap: 24px;
padding: 51px 0;
}

#whyChooseUs .container .whyChooseWrapper .whyChooseUsText {
display: flex;
flex-direction: column;
gap: 26px;
padding-top: 16px;
}
#whyChooseUs .container .whyChooseWrapper .whyChooseUsText .whyChooseUsTexts {
display: flex;
justify-content: start;
align-items: start;
gap: 12px;
}

#whyChooseUs .container .whyChooseWrapper h1 {
color: var(--gray-scale-gray-900, #1a1a1a);
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 120%;
}

#whyChooseUs .container .whyChooseWrapper .whyChooseUsText .whyChooseUsTexts .whyChooseUsTexts1 h4{
color: var(--gray-scale-gray-900, #1A1A1A);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}

#whyChooseUs .container .whyChooseWrapper .whyChooseUsText .whyChooseUsTexts .whyChooseUsTexts1 p{
color: var(--gray-scale-gray-500, #808080);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}
/* Asqar section */
/* ---------------------------------------- */
/* aziz section */
.latest{
  text-align: center;
}
.latest h3{
  color:#00B207;
  font-family: Segoe Script;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 0;
line-height: 120%; /* 19.2px */
text-transform: uppercase;
}
.latest h2{
  margin-bottom: 43px;
font-size:40px;
}
#latestNews{
  padding: 70px 0 80px;
}
#latestNews{
  background-image: url('../images/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gray-scale-gray-50, #F2F2F2);
  object-fit: cover;
}
.boxsWrap .box .imgBox{
  height: 324px;
  width: 424px;
  background-image: url("../images/photo_2022-05-06_20-35-27.jpg");
  position: relative  ;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex; */
  background-color: var(--gray-scale-gray-400, #999);
}
.boxsWrap .box{
  align-items: center;
  width:424px;
  overflow: hidden;
  height: 494px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.boxsWrap{
  display: flex;
  gap:24px;
}
.boxsWrap .box .categ-box{
  display: flex;
  margin: 0 0 8px 0;
  align-items: center;
  gap: 16px;
}
.boxsWrap .box p{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}
.boxsWrap .box:hover{
  scale: 1.05;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
}
.boxsWrap .box p:hover{
  color: var(--branding-success,#00B207);
}
.boxsWrap .box button{
  background-color: white;
  align-items: center;
  display: flex;
  cursor: pointer;
  gap: 10px;
  border: none;
  color: var(--branding-success, #00B207);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; 
  transition: all 0.4s ease-in-out;
}
/* .boxsWrap .box button:hover{
  gap: 18px;
} */
.boxsWrap .box .categ-box div{
  display: flex;
  cursor: pointer;
  gap: 5px;
  align-items: center;
}
.boxsWrap .box .wrap{
  padding: 24px;
  background-color: white;
}
.boxsWrap .box .categ-box a{
  color: black;
}
.boxsWrap .box .imgBox .mini p{
  margin: 0;
}
.boxsWrap .box .imgBox .mini{
  background-color: white;
  text-align: center;
  width: 58px;
  height: 58px;
  padding: 6px 15px;
  position: absolute;
  bottom:24px;
  left: 24px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}


/* Kamroncik */
.product_offer_in {
  margin: 0 auto;
  max-width: 1300px;
  margin-bottom: 80px;
  background-image: url(../images/offer_bg_img.png);
  background-repeat: no-repeat;
}

.product_offer_cards_wrapper {
  display: flex;
  justify-content: space-between;
}

.product_offer_short_titles {
  display: flex;
}

.product_offer_short_titles h2 {
  margin-right: 223px;
  white-space: nowrap;
}

.product_offer_cards {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.product_offer_card {
  display: flex;
  align-items: center;
  width: 312px;
  margin-right: 24px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  transition: all 0.5s ease;
  padding: 5px;
}

.product_offer_card_text {
  margin-left: 17px;
}

.product_offer_icons {
  display: none;
  align-items: center;
  margin-top: 8px;
  transition: all 0.8s ease;
}

.product_offer_icons .product_offer_ShopIcon,
.product_offer_icons .product_offerLike {
  cursor: pointer;
}

.product_offer_card .hotProductImg {
  width: 102px;
  height: 102px;
  background: url(https://s3-alpha-sig.figma.com/img/2099/fb56/5ffbe623e9b927ae3be066c4f975d1fc?Expires=1693785600&Signature=JZlmN3G0purkOX~D0EaRU-pRgkrJt9Vn7TeVmCm630TePJ-9eIN1cpH0R6d-gne4ymaOfjk7bUOXjumcnF8hQyshkUpb~3aoN0oTvHTe5yg4EPXOU9ZdWHR2VEf54wslhw0m-nXWchneNAmdKGJ4Oa~-xVa-qeXsNR1xl0R4r5jot1X643MHrpx1UkavExQRxJZ84QBZFioAz4libqj9xCv6brXU7jluHhtpaJemtd63Yqv2VryQLPIGj1fQM3aZVtW3m6Z2pnxcgWVBosNeZf23OHzTyexRXrTr57r4MxUEt9NiP8DGyYy0aUJQYIHyuzB9AwNfNUfdA9uKj6jqOA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-position: center;
  background-size: cover;
}

.product_offer_card .bestSellerProductImg {
  width: 102px;
  height: 102px;
  background: url(https://s3-alpha-sig.figma.com/img/b2a4/8360/6891ccd65c5c15fa42de2429eafd19ee?Expires=1693785600&Signature=BNnbEMiBetXe8xEZNJQt7aIUToXPFRawIIyCVTtF10HiooYgPMPyN52JD9WH6sULV37qSFJhtUNszA2Tx3OdhVGMnpKR~Cel97CEtIlL1VQHPlG8Dw6IR7lA4Jztjz4d4BIVTMnM8wDChaka9kfv5PcZO3gAx6p3EzUil~B5oprjUhE4scKS7yEy8aH2498zDR0U~ZBtQYp7jNt8gzV1y5Tn5KztNEhPKwW3FPkikZJVaLCa4V9NdaIDTTn7fO5cR85CKfbt7z1Sdi2Ife3lG-G9tlOX2evk5HS2evfFoXkLdRD43rB4nK0gK8YSV0hsuLa35JWGC7cwjTnfltB7dg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-position: center;
  background-size: cover;
}

.product_offer_card .topRatedProductImg {
  width: 102px;
  height: 102px;
  background: url(https://s3-alpha-sig.figma.com/img/8a64/1b99/aade1c6d813825d71e3b0fe5a361d969?Expires=1693785600&Signature=Z4LUtolyTba1OxZlo1hrCEmLGwUQm4o8BUToEKa249lWFzHpFOv5g-wXgbKPpUT8-Lp7AFNm4-LgVAbTdUzboj9SzLcncA07q-4udZfy6EAYBOEHzjCZe3MMBNX4gkrf3PMuEIQZmXMf-SdoiW7PRPL1sVFT3v-Mc8qipTurbTtV9u~VYmlHYsCB-J6gpo15t8ijY85797-CB1eZ~4Nn8WMx6mPeDaIvHlpXZu3-fGvXc2Yl-erA6XFGlvBxCyLAzndkJMeuJLYp45SI1YMXfOj2dLrtcijOUucd7szZRUzkSywY0ZfaWQi6l6tCNBLK3Gebu6j2~IZbKjRdiP2mXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-position: center;
  background-size: cover;
}

.product_offer_card_text .product_offer_card_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4d4d4d;
}

.product_offer_card_text .product_cost {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1a1a1a;
}

.product_offer_card:hover .product_offer_icons {
  display: flex;
}

.product_offer_card:hover {
  border: 1px solid #2c742f;
  box-shadow: 0px 0px 12px rgba(32, 181, 38, 0.32);
}

.product_offer_card:hover .product_offer_card_title {
  color: #2c742f;
}

.product_offer_card:hover .product_cost {
  display: none;
}

.product_offer_card:hover .product_offerGrade {
  display: none;
}

.product_offer_card_text .product_offer_ShopIcon {
  border-radius: 100%;
  width: 38px;
  height: 38px;
  background: #00b307;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_offer_card_text .product_offer_ShopIcon i {
  color: white;
}

.product_offerLikeEye {
  background: #ffffff;
  margin-left: 12px;
  padding: 9px;
  border-radius: 100%;
  transition: all 0.5s ease;
  border: 1px solid #f2f2f2;
}

.product_offerLikeEye a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_offerLike {
  width: 39px;
  height: 39px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.product_offerLike a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_order {
  background: url(https://s3-alpha-sig.figma.com/img/627d/e773/63d3144b88888de997dd16b7dda7316e?Expires=1693785600&Signature=MNptbWjgPpGWix7uDI4lDT-OtUnOUxbCiRnYZVdxhmjHZeAnAumKpZPS290jZUJ~FzNuPk23Ix4PJK0bbS2JgSC2bshEve~JVVy1zkchjDbzoYP6TUQvzPMKG0lK6DTTM7pcwvTp8r3cnYyO4BB2aahfQsip0kCyIHYKH5GzuQ3EWRnCYAqCvtPmbzXzG220G9hnnURBaze0DN-JO-yO8n3ycD6zRAtK~2dJwy1xi5moKNkLW-oXnnLhNu-CuFH3jROohD8Di9wOcDjEJpA-FxBcJYyp-IaY1IE21C5ohHv4DYH8IIE9u77C3ZrpMjuq31~6lEUMtXL-doiDsgFTlQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: cover;
  border-radius: 8px;
  width: 330px;
  color: white;
  margin-left: -16px;
  padding: 0px 30px;
  padding-top: 30px;
  position: relative;
}

.product_order .sale {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.product_order .order {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  margin-top: 12px;
}

.product_order .order span {
  font-weight: 600;
}

.product_order_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_order_btn {
  padding: 14px 32px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  color: #00b307;
  background: #ffffff;
  border-radius: 43px;
}

.product_order_btn i {
  margin-left: 12px;
  transition: all 0.5s ease;
}

.product_order_btn:hover i {
  transform: translateX(15px);
}
.product_offerLike img {
  color: red;
}
/* Kamroncik */
